:root {
  --fontcolor: #e8dede;
  --linkcolor:#e8991a;
  --color3:#1a73e8;

  --bgcolor:#0d0d0d;
  --bgcolor2:#181818;
  --altbgcolor:hsl(49, 46%, 75%);
  /* --monospace:  */
}

@font-face {
  font-family: 'test';
  /* src: url('B612Mono-Regular.ttf'); */
}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px orange; 
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--linkcolor); 
  border-radius: 10px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: whitesmoke; 
} */





.codeblock {
  position:relative;
    /* display: block; */
  background: var(--altbgcolor);

  border: 1px solid #ddd;
  border-left: 3px solid var(--linkcolor);
  border-radius: 3px;
  color: var(--bgcolor);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  white-space: pre-wrap; 
  word-wrap: break-word;
  left:20%;
}



/* pre {

  position:relative;
  background: var(--altbgcolor);

  border: 1px solid #ddd;
  border-left: 3px solid var(--linkcolor);
  border-radius: 3px;
  color: var(--bgcolor);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  white-space: pre-wrap; 
  word-wrap: break-word;
  left:20%;
} */

hr {
  position:relative;
  left:20%;
  visibility: visible;
}

a {
  font-family: monospace;
  color: var(--linkcolor);
}

.links {
  font-family: monospace;
  color: var(--linkcolor);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  position: relative;
  font-size: 150%;
  display: inline-block;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;

} 

.readmore {
  width:100%; 
  text-align: right;  
  display:inline-block;
  font-family: monospace;
  color: var(--linkcolor);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  position: relative;
  font-size: 150%;
  display: inline-block;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}


p{
  font-family: monospace;
  color: var(--fontcolor);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  /* top: 40%; */
  font-size: 150%;
  display: inline-block;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

h1{
  font-family: monospace;
  color: var(--fontcolor);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  /* top: 40%; */
  font-size: 400%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
 h3{
  font-family: monospace;
  color: var(--fontcolor);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  /* top: 40%; */
  font-size: 200%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

b {
  font-family: monospace;
  color: var(--fontcolor);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  /* top: 40%; */
  left: 0%;
  font-size: 200%;
  display: inline-block;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;


}





body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: var(--bgcolor);

  /* position: absolute;
  left: 50%;
  border-left: 2px dotted #444; */
  
}

.art {
  font-size: 0.55vw;
}

.caption {
  font-size: 100%;
  text-align: center;
  left:20%;
  width:100%;
}

.dotline{
  content:"";
  position: relative;
  z-index: 0;
  margin-top: -5px;
  margin-bottom: -5px;
  bottom: 0;
  left: 25%;
  min-height:50px;
  height:25%;
  width: 1%;
  border-left: 3px dotted var(--fontcolor);
}


.startbit {
  height:80vh;
  /* width: min(max(50vw, 600px),100%); */
  /* min-width: 600px; */
  /* max-width: 1000px; */
  /* background-color: var(--bgcolor); */
  background-color: var(--bgcolor2);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  /* left: 20%; */
}


.topbit {
  height:100vh;
  width: min(max(50vw, 600px),100%);
  /* min-width: 600px; */
  /* max-width: 1000px; */
  background-color: var(--bgcolor);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  left: 20%;
}
.topbit h1{

  top: 40%;
  left: 20%;

}

.topbit h3{

  top: 40%;
  left: 20%;
}




.middlebit {
  /* height:100vh; */
  width: min(max(50vw, 600px),100%);
  /* min-width: 600px; */
  /* max-width: 1000px; */
  background-color: var(--bgcolor);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  left: 20%;
}



.break {
  /* height:100vh; */
  width: min(max(50vw, 600px),100%);
  height: 50px;
  /* min-width: 600px; */
  /* max-width: 1000px; */
  /* background-color: var(--bgcolor); */
  margin-left: 0px;
  margin-top: -5px;
  margin-right: 0px;
  margin-bottom: -5px;
  position: relative;
  left: 20%;
}

.middlebit h1{
  left: 20%;
}

.middlebit h3{
  left: 20%;
}


.middlebit p{
  left: 20%;
}

.middlebit .links {
  left:20%;
}


.middlebit img{
  width: 100%;
  max-width: 100%;
  left: 20%;
  position: relative;
  margin-left: auto;
  margin-right: none;
  display: block;
}


.projectblock {
float: left;
width: max(30%, 250px) ;
height: 0;
padding-bottom: max(30%, 250px);
position:relative;
margin: 1%;
z-index: 1;
display: inline-block;
border:5px solid var(--linkcolor);
border-radius: 5px;
left:20%;
background-size:100% 100%;
}

.projectblock p {
  font-family: monospace;
  color: var(--fontcolor);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  /* top: 40%; */
  left: 0%;
  font-size: min(max(120%,1.5vw), 200%);
  display: block;
}

.projectblock b {
  font-family: monospace;
  color: var(--fontcolor);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  position: relative;
  /* top: 40%; */
  left: 0%;
  font-size:  min(max(150%, 2vw), 200%);
  display: block;
}
.projectblock img{
  width: 100%;
  left: 0%;
}
.projectblock .textstuffs{
  background-color:#000;
  opacity:0.85;
  height: 100%;
  width:100%;
  height:0;
  padding-bottom:100%;
}



@media only screen and (max-width: 700px) {

pre {
  left:0%;
}


hr {
  left:0%;

}
.caption {
  left:0%;
}
.break {
  left:0%;
}
.links{
  left:0%;
}

  .topbit {
    height:100vh;
    width: min(max(50vw, 600px),100%);
    /* min-width: 600px; */
    /* max-width: 1000px; */
    background-color: var(--bgcolor);
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: relative;
    left: 0%;
  }
  .topbit h1{
  
    top: 40%;
    left: 0%;
  
  }
  
  .topbit h3{
  
    top: 40%;
    left: 0%;
  }

  .dotline{
  left:10%;
  }

.middlebit {
  left:0%;
}

  .middlebit h1{
    left: 0%;
  }
  
  .middlebit h3{
    left: 0%;
  }
  
  
  .middlebit p{
    left: 0%;
  }

  .middlebit img{

    left: 0%;

  }
  .middlebit .links{
    left:0%;
  }
  .projectblock {
  left:5%;
  }
  .art{
    font-size: 1.1vw;
  }
}



/*

CRT filter
Thank you!
https://oudkee.neocities.org/tutorials/tutcrt

*/
  .crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
  opacity: 0.30861;
  }
  5% {
  opacity: 0.32769;
  }
  10% {
  opacity: 0.304;
  }
  15% {
  opacity: 0.32626;
  }
  20% {
  opacity: 0.3128;
  }
  25% {
  opacity: 0.30626;
  }
  30% {
  opacity: 0.38128;
  }
  35% {
  opacity: 0.33604;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 100000s infinite;
}
